body{
  font-family: sans-serif;
  font-weight: 100;
  background: #ccc;
}

h1{
  text-align: center;
  color: #666;
  text-shadow: 0px 2px 0px #fff;
}

.wrapper-login{
  width: 650px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #555;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
}

.container-login{
  border-bottom: thin solid #ccc;
  padding: 10px;
}


.wrapper-login::before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    width:0px;
}
