body{
  font-family: sans-serif;
  font-weight: 100;
  background: #ccc;
}

h1{
  text-align: center;
  color: #666;
  text-shadow: 0px 2px 0px #fff;
}

.wrapper-login{
  width: 650px;
  margin: 0 auto;
  box-shadow: 5px 5px 5px #555;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
}

.container-login{
  border-bottom: thin solid #ccc;
  padding: 10px;
}


.wrapper-login::before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    width:0px;
}

.post{
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px;
}

.post .post-content p {
      margin: 0;
 }
.gap {
    display: block;
    position: relative;
    margin: 30px 0 30px 0;
    clear: both;
    overflow: hidden;
}

.gap:after {
    content: '';
    display: table;
}

.gap-mini {
    margin: 10px 0 10px 0;
}

.gap-small {
    margin: 15px 0 15px 0;
}

.gap-big {
    margin: 60px 0 60px 0;
}

.gap-large {
    margin: 90px 0 90px 0;
}

.gap-top {
    margin-bottom: 0 !important;
}

.gap-bottom {
    margin-top: 0 !important;
}

.gap-border {
    border: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #fff;
}
